.blue_kit {
    background: #262b42;
    height: 45px;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1
}

.blue_kit_left {
    position: absolute;
    top: 0;
    left: 0
}

.blue_kit_right {
    position: absolute;
    top: 0;
    right: 4px
}

.blue_kit, .blue_kit a {
    color: #cfd8e5
}

.blue_kit_btn:last-child {
    margin-right: 0
}

.blue_kit_btn {
    float: left;
    height: 44px;
    position: relative;
    padding: 0 8px;
    color: #d1daea;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent
}

.blue_kit_btn:active {
    background-color: #171F31
}

.blue_kit_btn + .blue_kit_btn:after {
    content: '';
    position: absolute;
    height: 22px;
    width: 0;
    top: 50%;
    left: -1px;
    margin-top: -11px;
    border-left: 1px solid #222;
    border-right: 1px solid #FFF;
    opacity: .2
}

.blue_kit_btn_back {
    padding-left: 18px
}

.blue_kit_btn_back:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    border: 2px solid #a3b4cc;
    border-width: 2px 0 0 2px;
    width: 8px;
    height: 8px;
    margin: -5px 0 0 0;
    -webkit-transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0);
    transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0)
}

.post_list_item, .list_item {
    display: block
}

.post_list_item:first-child, .list_item:first-child {
    border-top: 0
}

.post_item_link, .list_item_link, .list_item_wrapper {
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eaebec;
    margin: 0 10px;
    padding: 4px 0
}

:not(.default_feedback) > .post_list_item:not(.default_feedback):active, :not(.default_feedback) > .list_item:not(.default_feedback):active {
    background-color: #EEE
}

.clearfix:after {
    content: '';
    display: table;
    clear: both
}

body, dl, dd, dt, ul, div, html, p, form {
    margin: 0;
    padding: 0
}

html {
    background-color: #fff;
    -webkit-text-size-adjust: none
}

body {
    line-height: 130%;
    font-size: 14px;
    font-family: arial;
    word-wrap: break-word;
    background: #fafbfc;
    position: relative;
    max-width: 900px;
}

ul, li {
    list-style: none
}

a {
    color: #3361a7;
    text-decoration: none
}

img {
    border: 0
}

.level {
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    vertical-align: middle
}

.level_1, .level_2, .level_3 {
    background-position: 0 -127px
}

.level_4, .level_5, .level_6, .level_7, .level_8, .level_9 {
    background-position: 0 -155px
}

.level_10, .level_11, .level_12, .level_13, .level_14, .level_15 {
    background-position: 0 -183px
}

.post_list_item + .btn_more, .post_list_item + .no_more {
    margin-left: 8px;
    margin-right: 8px;
    border-top: 1px solid #FFF
}

.post_list_item:last-child {
    border-bottom: 0
}

.post_list_item a:visited, .post_list_item:visited {
    color: #531f74
}

.module_head h1 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #313233
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.diag-outer .btn_close:before, .diag-outer .btn_close:after {
    background: #000
}

.icon_btn {
    text-indent: -999em;
    text-align: center;
    white-space: nowrap;
    line-height: inherit
}

.pic_free_mode .icon_btn {
    text-indent: 0;
    background-image: none;
    white-space: normal
}

.j_floor_lz floor_lz_icon {
    display: inline-block;
    line-height: 18px;
    text-align: center;
    background: #3381e3;
    color: #fff;
    padding: 0 4px;
    margin: 0 4px 0 0;
    border-radius: 2px;
    vertical-align: middle;
}

body {
    margin: 45px auto
}

.blue_kit_top {
    padding-right: 0;
    z-index: 100;
    position: fixed;
    -webkit-tap-highlight-color: transparent
}

.blue_kit_top .blue_kit_right {
    right: 0
}

.blue_kit_icon {
    width: 40px;
    height: 44px;
    display: inline-block
}

.blue_kit_icon_see_lz {
    background-position: 0 -50px
}

.post_title_text {
    padding-right: 10px;
    font-weight: 700;
    font-size: 16px;
    padding-left: 3px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    vertical-align: top
}

.post_title_text:active {
    background-color: #171F31
}

.blue_kit_top {
    border-bottom: 1px solid #1e2133;
    left: 0;
    width: 100%
}

.blue_kit_left {
    position: relative;
    float: left
}

.blue_kit_right {
    position: relative;
    float: right
}

.tl_spread .spread_iframe iframe {
    vertical-align: top;
    width: 100%;
    height: 216px
}

.tl_spread_type_1003 .spread_iframe iframe {
    height: 198px
}

.tl_spread_type_1004 .spread_iframe iframe {
    height: 218px
}

.tl_spread_pb .spread_iframe iframe {
    height: 77px
}

.tl_spread_type_1103 .spread_iframe iframe {
    height: 229px
}

.tl_spread_type_1005 .spread_iframe iframe {
    height: 224px
}

.arrow-up:before, .arrow-up:after, .arrow-up span:before, .arrow-up span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0
}

.arrow-up span:before {
    left: 4px;
    margin-top: -5px;
    border-width: 0 4px 3px;
    border-color: #f15a23 transparent;
    border-style: solid;
    background: transparent
}

.arrow-up span:after {
    left: 7px;
    width: 2px;
    height: 7px;
    margin-top: -2px;
    background: #f15a23
}

.post_title_embed {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 8px 0
}

.home_card .user_icons {
    margin-left: 5px;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap
}

.user_icons {
    display: inline-block
}

.user_icons > span {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    margin: 0 3px 0 0;
    background-repeat: no-repeat;
    background-size: auto 75px
}

.user_icons_pb {
    display: inline-block;
    vertical-align: middle
}

.user_icons_pb > span {
    height: 18px;
    width: 19px;
    background-size: auto 112px;
    margin: 0 4px 0 0
}

.post_list_item .act_join_wrapper a:visited {
    color: #313233
}

.post_list_item .act_join_wrapper a.btn_default:visited {
    color: #fff
}

.act_hot_img_wrapper .BDE_Image {
    width: 100%
}

.floor_content {
    color: #000;
    margin-right: 6px
}

.floor_content img[src*="tb/editor"] {
    vertical-align: middle;
    height: 22px
}

.list_item_time {
    color: #a9aeb3;
    font-size: 12px;
    margin-right: 6px
}

.post_list_item[fn="1"] {
    background: #fff;
    border-bottom: 1px solid #eaebec
}

.post_list_item[fn="1"] .list_item_wrapper {
    border-bottom: 0
}

.post_list_item[fn="1"] .content {
    color: #626466;
    padding-left: 0
}

.list .list_item_wrapper {
    overflow: hidden;
    position: relative;
    border-top: 0
}

.list_item:last-child {
    border-bottom: 0
}

.list_item_top {
    font-size: 12px;
    line-height: 15px;
    color: #a9aeb3;
    position: relative;
    margin: 8px 0
}

.list_item_top .user_name {
    font-size: 14px
}

.list_item_top_avatar {
    float: left;
    margin-right: 10px;
    line-height: 0
}

.user_img {
    height: 36px;
    width: 36px;
    border-radius: 2px;
    border: 1px solid #eee
}

.list_item_top_name {
    display: block;
    line-height: 19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 50px
}

.user_name.red_name {
    color: #e53917;
    padding-left: 21px;
    background-position: left 0;
    background-size: 16px auto;
    background-repeat: no-repeat
}

.list_item_top_name .level {
    margin: 0 3px
}

.user_name.red_name .user_name {
    color: #e53917
}

.floor_lz_icon {
    display: inline-block;
    line-height: 18px;
    text-align: center;
    background: #3381e3;
    color: #fff;
    padding: 0 4px;
    margin: 0 4px 0 0;
    border-radius: 2px;
    vertical-align: middle
}

.list_item_more_operation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0
}

.content {
    font-size: 16px;
    margin: 8px 0;
    color: #313233;
    line-height: 150%;
    word-break: break-word;
    padding-left: 48px
}

.content img[src*="tb/editor"] {
    vertical-align: middle
}

.fr_list {
    margin: 12px 0 0 48px;
    position: relative
}

.list_item_floor_num, .list_item_time {
    display: inline-block;
    margin-right: 8px;
    color: #c5c9cd
}

.u9_recommend_game_item img {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 5px
}

.u9_recommend_news_item img {
    width: 30px;
    height: 30px;
    display: block
}

.u9_game_price span {
    color: #7a7c80;
    font-size: 12px
}

.u9_game_price em {
    font-style: normal;
    color: #f25824;
    padding: 0 10px 0 5px
}

.pbimgwapper {
    width: auto;
    height: auto;
    line-height: 0;
    position: relative;
    margin: 6px 0
}

.pbimgwapper + br {
    display: none
}

#more_content {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 14px
}

#more_content .more_btn_package {
    display: inline-block;
    width: 280px;
    height: 40px;
    line-height: 40px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e5e6ea;
    margin: 0 auto;
    background: #FFF
}

#more_content .more_btn_package a {
    width: 240px;
    height: 39px;
    line-height: 39px
}

.list {
    overflow: hidden;
    background: #f5f7fa
}

.smile_btn_group a:last-child {
    width: 54px
}

.j_font a {
    width: 25%;
    height: 37px;
    line-height: 37px
}

.multi_preview .item img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .2)
}

.wrap {
    width: auto;
    height: auto;
    display: block
}

@-webkit-keyframes scaleup {
    0% {
        -webkit-transform: scale(1, .2)
    }
    100% {
        -webkit-transform: scale(1, 1)
    }
}

.BDE_Image {
    max-width: 100%
}

.sexy .BDE_Image {
    max-height: 80px
}

hcfy-result.__hcfy__result__loaded__.__hcfy__result__both__ {
    border: 1px dotted
}
